/* Libraries start */
@import "~normalize.css";
/* Libraries end */

// Modules

/* Fonts start */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700;900&display=swap");
/* Fonts end */

// Palette
@import "@scss-modules/palette";

// Templates
@import "@scss-modules/templates";

// Mixins
@import "@scss-modules/mixins";

// Functions
@import "@scss-modules/functions";

// Buttons
// @import "@scss-modules/buttons";

/* Presets and common styles start*/
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "font", sans-serif;
}

.wrapper {
  @extend %wrapper;
}

._ibg {
  @extend %ibg;
}

._standard-container {
  @extend %standard-container;
}

/* Presets and common styles end*/

/* Header styles start */
.header {
  // @extend .header;
}

// .logo {
//   @extend .logo;
// }

/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;

  &__catalog {
    padding: 50px 0 70px;
  }
}

.catalog {
  &__books {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 57px;
    row-gap: 57px;
  }

  &__book {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }
}

.book {
  &__wrapper {
    margin: 0;
    background-color: #333;
    color: #fff;
  }

  &__pic {
  }

  &__characteristics {
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
  }

  &__author {
  }

  &__price {
  }

  &__title {
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: auto 0 0 0;

    > * {
      cursor: pointer;
    }
  }

  &__more {
  }

  &__buy {
  }
}

.json {
  display: none;
}

/* Page styles end */

/* Footer styles start */
.footer {
  // @extend .footer;
}

/* Footer styles end */
