/* Libraries start */
@import "~normalize.css";
/* Libraries end */

// Modules

/* Fonts start */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700;900&display=swap");
/* Fonts end */

// Palette
@import "@scss-modules/palette";

// Templates
@import "@scss-modules/templates";

// Mixins
@import "@scss-modules/mixins";

// Functions
@import "@scss-modules/functions";

// Buttons
// @import "@scss-modules/buttons";

/* Presets and common styles start*/
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "font", sans-serif;
}

.wrapper {
  @extend %wrapper;
}

._ibg {
  @extend %ibg;
}

._standard-container {
  @extend %standard-container;
}

/* Presets and common styles end*/

/* Header styles start */
.header {
  // @extend .header;
}

// .logo {
//   @extend .logo;
// }

/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;
}

/* Page styles end */

/* Footer styles start */
.footer {
  // @extend .footer;
}

/* Footer styles end */
