/* Libraries start */
@import "~normalize.css";
/* Libraries end */

// Modules

/* Fonts start */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700;900&display=swap");
/* Fonts end */

// Palette
@import "@scss-modules/palette";

// Templates
@import "@scss-modules/templates";

// Mixins
@import "@scss-modules/mixins";

// Functions
@import "@scss-modules/functions";

// Buttons
// @import "@scss-modules/buttons";

/* Presets and common styles start*/
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "font", sans-serif;
}

.wrapper {
  @extend %wrapper;
}

._ibg {
  @extend %ibg;
}

._standard-container {
  @extend %standard-container;
}

/* Presets and common styles end*/

/* Header styles start */
.header {
  // @extend .header;
}

// .logo {
//   @extend .logo;
// }

/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;

  &__catalog {
    padding: 50px 0 70px;
  }
}

.catalog {
  &__books {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 57px;
    row-gap: 57px;
  }

  &__book {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }
}

.book {
  position: relative;

  &__wrapper {
    margin: 0;
    background-color: #333;
    color: #fff;
  }

  &__pic {
  }

  &__characteristics {
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
  }

  &__author {
  }

  &__price {
  }

  &__title {
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: auto 0 0 0;

    > * {
      cursor: pointer;
    }
  }

  &__more {
  }

  &__buy {
  }

  &__popup {
  }
}

.popup {
  position: absolute;
  left: 18px;
  bottom: 50px;
  width: 350px;
  height: 320px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.811);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  padding: 10px 10px;

  &__content {
    margin-left: 10px;
    padding: 10px 0;
  }

  &__title {
    margin: 0;
    color: white;
    font-size: 18px;
  }

  &__description {
    background-color: gray;
    max-width: 280px;
    padding: 5px 20px;
    border-radius: 0.5rem;
  }

  &__close {
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;

    &:hover {
      background-color: darkgray;
    }
  }

  &__show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
}

.json {
  display: none;
}

/* Page styles end */

/* Footer styles start */
.footer {
  // @extend .footer;
}

/* Footer styles end */
